<div id="sidebar">
  <mat-nav-list>

    <!--Module level-->
    <a mat-list-item
       [routerLinkActive]="'active'"
       [routerLink]="['/demo/module-level']">
      <mat-icon class="sidenav-icon">dashboard</mat-icon>
      {{ 'Module level' | translate }}
    </a>

    <!--Component level-->
    <a mat-list-item
       [routerLinkActive]="'active'"
       [routerLink]="['/demo/component-level']">
      <mat-icon class="sidenav-icon">bar_chart</mat-icon>
      {{ 'Component level' | translate }}
    </a>

  </mat-nav-list>
</div>
